<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KiwiLoyalty.Properties.Settings.KiwiLoyaltyConnectionString" connectionString="Data Source=HAYDEN-HOME-PC\SQLEXPRESS;Initial Catalog=KiwiLoyalty;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
